# PostgreSQL
POSTGRES_CONN_HOST=postgres
POSTGRES_CONN_PORT=5432
POSTGRES_CONN_USERNAME=postgres
POSTGRES_CONN_PASSWORD=postgres

# Airflow metadata database
METADATA_DATABASE_NAME=airflow
METADATA_DATABASE_USERNAME=postgres
METADATA_DATABASE_PASSWORD=postgres

# YouTube ELT / Data Warehouse database
ELT_DATABASE_NAME=youtube
ELT_DATABASE_USERNAME=postgres
ELT_DATABASE_PASSWORD=postgres

# Celery result backend
CELERY_BACKEND_NAME=airflow
CELERY_BACKEND_USERNAME=postgres
CELERY_BACKEND_PASSWORD=postgres

# YouTube Data API
API_KEY=your_youtube_api_key_here
CHANNEL_HANDLE=@your_channel_handle_here

# Airflow
AIRFLOW_UID=50000

# Generate a Fernet key for Airflow
# Example:
# FERNET_KEY=your_fernet_key_here
FERNET_KEY=

# Airflow web user
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin
